.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  @media (min-width: $break-m) {
    padding: 10px 30px;
  }
}

// Each rule that pairs button elements with colors
@each $status, $bg in $buttons {
  .#{$status} {
    background-color: $bg;
    &:hover {
      background-color: lighten($bg, 15%);
    }
  }
}

// Media Queries
@media (min-width: $break-m) {
  .btn + .btn {
    margin-left: 10px;
  }
}